.about-easybank{
    background-color: var(--very-light-gray);
    padding: 2.4rem 0;
}

.about-easybank__4-col{
    padding-top: 1.8rem;
    display: grid;
    grid-template-rows: repeat(1fr, 4);
    gap: 1.8rem 0px;
}