body{
    font-family: 'Public Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: var(--dark-blue);
    font-weight: 400;
}

h1{
    font-size: 2.53rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.29rem;
    font-weight: normal;
}

p{
    color: var(--grayish-blue);
    line-height: 1.5;
}